@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #01030b;
    --color-secondary: #0957ff;
}
h1 {
    color: #333;
    font-size: 2.5rem;
    margin-top: 2rem;
    text-align: center;
  }
  
  .block {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 600px;
    padding: 1.5rem;
  }
  h2 {
    color: #333;
    font-size: 1.5rem;
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 400px;
    min-width: 500px;
    max-width: 1000px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.3 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}

.container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

h

header .input-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-section input{
    margin-right: 10px;
    max-width: 100%;
}
button {
    background-color: #ffbe0b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #fb8c00;
    transform: scale(1.1);
  }
  
  button.complete-btn {
    background-color: #20bf6b;
  }
  
  button.delete-btn {
    background-color: #eb3b5a;
  }



.theme-switcher{
    position:absolute;
    top: 16px;
    right: 16px;
}

